body{
    margin: 0;
    padding: 0;
}
.mychart_page{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}

.mychart_bar>.line{
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.mychart_bar>.line>.name{
    width: 60px;
    text-align: center;
}

.mychart_bar>.line>.rate{
    height: 15px;
    margin-left:5px;
    position: relative;
}

.mychart_bar>.line>.rate>.rate-bg{
    transition: all 0.7s;
    background-color:cornflowerblue;
    border-radius: 5px;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.mychart_bar>.line>.per{
    transition: all 0.3s ease-in;
    transition-delay: 0.7s;
    opacity: 0;
    width:20px;
    text-align: center;
    color: cornflowerblue;
    margin-left:5px;
}
.mychart_bar_out>.line>.rate>.rate-bg{
    width: 0;
}
.mychart_bar_in>.line>.rate>.rate-bg{
    width: 100%
}

.mychart_bar_out>.line>.per{
    opacity: 0;
}
.mychart_bar_in>.line>.per{
    opacity: 1;
}

.mychart_polyline{
    position: relative;
    padding: 10px;
}

.mychart_polyline canvas{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

.mychart_polyline .text{
    position: absolute;
    font-size: 12px;
    bottom: -15px;
}


.mychart_radar{
    position: relative;
    padding: 10px;
}

.mychart_radar canvas{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}


.mychart_radar .text{
    position: absolute;
    font-size: 12px;
    transition: all .7s
}